CMakeLists.txt.user*
*.kdev4
*.swp
/build*/
.cmake/

# LSP & IDE
/.clang-format
/compile_commands.json
.clangd
.cache
.idea
.qtcreator
/cmake-build*

# Flatpak
.flatpak-builder
build-dir

# Web and Mobile Apps
web-app/node_modules
web-app/dist
mobile-app/node_modules
mobile-app/.expo
mobile-app/dist
mobile-app/ios
mobile-app/android
